[submodule "MCEngine/external/optick"]
	path = MCEngine/external/optick
	url = https://github.com/Meowster-s-Manual/optick
[submodule "MCEngine/external/glfw"]
	path = MCEngine/external/glfw
	url = https://github.com/Meowster-s-Manual/glfw
[submodule "MCEngine/external/spdlog"]
	path = MCEngine/external/spdlog
	url = https://github.com/Meowster-s-Manual/spdlog
